<html>
	<head>
		{% if title %}
		<title>{{ title }} - Find a Bathroom</title>
		{% else %}
		<title>Looks like you need to Pee</title>
		{% endif %}
	</head>
	<body>
		<div>UC Berkeley Bathrooms: 
			<a href="/index">| Home |</a> 
			<a href="/submit_review">| Submit a Review |</a>
			<a href="/login">| Login |</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{ message }} </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
